:root {
	--size: calc(90vmin - 3rem);
}

* {
	font-family: Arial;
}

body {
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: fit-content;
}

/* PANEL */
.panel {
	min-width: 20rem;
	min-height: 15rem;
	background: green;
}

/* BOARD */
.board {
	height: var(--size);
	width: var(--size);
	background: brown;
	padding: 1rem;
	position: relative;
	margin: 0 5rem;
}

.row {
	height: calc(100%/8);
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	height: 100%;
	width: calc(100% / 8);
	background: white;
}

.row:nth-child(2n + 1) .tile:nth-child(2n) {
	background: black;
}

.row:nth-child(2n) .tile:nth-child(2n + 1) {
	background: black;
}

/* pieces */
.overlayBoard {
	position: absolute;
	height: calc(100% - 2rem);
	width: calc(100% - 2rem);
	top: 1rem;
}

.piece,
.posibleMoves {
	border: 2px solid white;
	position: absolute;
	width: calc(100% / 10);
	border-radius: 50%;
	margin: calc(100% / 80);
	text-align: center;
	cursor: pointer;
	height: calc(100% / 10);
	user-select: none;
	font-size: 3rem;
	box-sizing: border-box;
}

.piece.black {
	background: black;
	color: white;
}

.piece.white {
	background: white;
	color: black;
}

.piece:hover {
	background: red;
}

/* available */
.posibleMoves {
	background: green;
}
